
.wrapper{
    min-height:100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.container{
    max-width: 1212px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
    
}
.header {
    background-image: url(headerbg.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    font-family: Averta;
    font-weight: 400;
    color: #FFFFFF;
    height: 100vh;
    
    
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.header__logo {
    margin-right: 120px;
}
.header__nav {
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;  
}
.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}
.header__nav-link{
margin-right: 43px;
cursor: pointer;


}
.a::before{
    position: absolute;
    top: -4px;
    left: -16px;
    width: 100px;
    height: 33px;
    content: '';
    opacity: 0;
    border: 2px solid #BA111A;
    border-radius: 10px; 
    transition: all 1s; 
}
.a:hover::before{
    opacity: 1;  
}
.b::before{
    position: absolute;
    top: -5px;
    left: 95px;
    width: 107px;
    height: 35px;
    content: '';
    opacity: 0;
    border: 2px solid #BA111A;
    border-radius: 10px; 
    transition: all 1s; 
}
.b:hover::before{
    opacity: 1;  
}
.c::before{
    position: absolute;
    top: -6px;
    left: 220px;
    width: 121px;
    height: 38px;
    content: '';
    opacity: 0;
    border: 2px solid #BA111A;
    border-radius: 10px; 
    transition: all 1s; 
}
.c:hover::before{
    opacity: 1;  
}
.d::before{
    position: absolute;
    top: -6px;
    left: 353px;
    width: 190px;
    height: 38px;
    content: '';
    opacity: 0;
    border: 2px solid #BA111A;
    border-radius: 10px; 
    transition: all 1s; 
}
.d:hover::before{
    opacity: 1;  
}
.header__icons {
}
.header__icon-inst{
    margin-right: 20px;
    transition: all 1s;
}
.header__icon-inst path{
    
    transition: all 1s;
}
.header__icon-inst:hover path {
    fill: #BA111A;
}
.header__icon-face{
    margin-right: 20px;
    transition: all 1s;
}
.header__icon-face path{
    
    transition: all 1s;
}

.header__icon-face:hover path {
    fill: #BA111A;
}
.header__icon-tell path{
    
    transition: all 1s;
}

.header__icon-tell:hover path {
    fill: #FFFFFF;
}

.header__lang {
    display: flex;
    justify-content: space-between;
}
.header__lang-ru {
    text-transform: uppercase;
    margin-right: 4px;
}

.header__lang-icon {
    padding-top: 3px;
}
.header__lang-link {
    background-color: #060606;
    color: #FFFFFF;
    font-family:Averta;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    cursor: pointer;
}
.header__body {
}
.header__body-inner {
    display: flex;
    margin-top: 300px;
    justify-content: space-between;
    align-items: flex-end;
}.header__body-bigtext{
    font-family: Bebas Neue Pro;
    font-weight: 700;
    font-size: 80px;
    line-height: 114px;
    color: #DE131E;
}
.bigtext__white{
    color: #FFFFFF;
}
.header__body-text {
}
.header__body-sticks {
    margin-bottom: 27px;
}
.header__body-smalltext {
    max-width: 360px;
    margin-bottom: 27px;
}
.header__body-button {
    margin-bottom: 27px;
}
.header__body-btn {
    padding: 20px 65px;
    background: #DE131E;
    border-radius: 10px;
    transition: all 1s;
}
.header__body-btn:hover {
    background: #8a2b30;
    
}
.header__body-scroll{
    margin-top: 19px;
    text-align: center;
    padding-bottom: 84px;
}
/* =================================================
/* =================================================== */ 
.date {
    background: #060606;
    padding-bottom: 32px;
}
.date__title {
    font-family: Bebas Neue Pro;
    font-weight: 700;
    font-size: 80px;
    line-height: 114px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 19px;
}
.date__title-red {
    color: #DE131E;
}
.date__wrapper{
    display: flex;
}
.date__body-left {
}
.date__left-text {
    font-family: Bebas Neue Pro;
    font-weight: 700;
    font-size: 80px;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #DE131E;
    display: flex;
    margin-top: 76px;
}
.date__text-white {
    color: #FFFFFF;
    margin-left:26px;
}
.date__text-info {
}
.date__info-dayweek {
    font-family: Averta;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 5px;
}
.date__info-arrow {
    display: flex;
    margin-top: 20px;
}
.date__arrow-left{
    margin-right: 27px;

}
.date__arrow-right{

}
.date__arrow-link:hover path{
    fill:#DE131E;
}
.date__body-img {
    max-width: 387px;
    max-height: 297px;
    position: relative;
    
}
.date__image-face {
    position: absolute;
    top: 77px;
    left: 51px;
    background-image: url("/face.png");
    width: 92px;
    height: 92px;
    z-index: 1;
}
.date__image-face::before{
    position: absolute;
    content: "";
    top: -3px;
    left: 93px;
    width: 14px;
    height: 14px;
    background-color:  #DE131E;
    border-radius: 50%;

}
.date__image-namebox {
    position: absolute;
    top: 145px;
    left: 112px;
    font-family:Averta;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    max-width: 130px;
    max-height: 59px;
    background-color: #DE131E;
    border-radius: 10px;
    padding: 10px 24px 11px 36px;
    
}
.date__image-name span {
    display: block;
}
.date__image-profession {
    color: #EE9095;
}
.date__body-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.date__bignumber {
    display: flex;
    flex-direction: column;
    font-family:Averta;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 80px;
    line-height: 21px;
    margin-left: 149px;
}
.date__bignumber-one {
    margin-top: 60px;
    margin-bottom: 263px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.date__bignumber-one::before{
    content:"";
    top: 65px;
    left: 166px;
    position:absolute;
    height:54px;
    width:54px;
    background-color: #DE131E;
    border-radius: 50%;
    z-index: -1;
}
.date__day {
    font-size: 13px;
    line-height: 21px;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    margin-top: 34px;
    
}
.date__day-week {
    color: #212121;
    font-size: 10px;
    line-height: 21px;
    display: flex;
    justify-content: center;
}
.date__bignumber-two {
    margin-bottom: 128px;
    z-index: 2;
}
.date__bignumber-two::before{
    content:"";
    top: 429px;
    left: 166px;
    position:absolute;
    height:54px;
    width:54px;
    background-color: #DE131E;
    border-radius: 50%;
    z-index: -1;
}
.date__bignumber-three {
    z-index: 2;
}
.date__bignumber-three::before {
    content:"";
    bottom: 40px;
    left: 166px;
    position:absolute;
    height:54px;
    width:54px;
    background-color: #DE131E;
    border-radius: 50%;
    z-index: -1;
}
.date__calendar {
    color: #FFFFFF;
    font-family:Averta;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    display: flex;
    align-items: flex-start;
    height: 100%;
    margin-left: 50px;
    margin-bottom: -166px;

    
}
.date__calendar-colomn{
    margin-right: 70px;
    position: relative;
    z-index: 1;
}
.date__calendar-colomn:last-child{
    margin-right: 0;
}
.calendar__day{
    margin-bottom: 33px;
}
.calendar__day-6::before{
    content:"";
    top:-16px;
    left:-20px;
    position:absolute;
    height:54px;
    width:54px;
    background-color: #DE131E;
    border-radius: 50%;
    z-index: -1;
}
.calendar__day-19::before{
    content:"";
    top:91px;
    left:-18px;
    position:absolute;
    height:54px;
    width:54px;
    border: 2px solid #DE131E;
    border-radius: 50%;
    z-index: -1;
}
.calendar__day-19::after{
    content:"";
    top:131px;
    left:6px;
    position:absolute;
    height:8px;
    width:8px;
    background-color: #DE131E;
    border-radius: 50%;
    z-index: -1;
}
.calendar__day-22::before{
    content:"";
    bottom:71px;
    left:8px;
    position:absolute;
    height:8px;
    width:8px;
    background-color: #DE131E;
    border-radius: 50%;
    z-index: -1;
}
.calendar__day-2::before{
    content:"";
    top:-16px;
    left:-89px;
    position:absolute;
    height:54px;
    width:472px;
    background: #212121;
    border-radius: 10px;
    z-index: -1;
}
.calendar__day-1{
    color: #212121;
}
.date__box{
    background: #212121;
    border-radius: 10px;
    position: absolute;
    height: 86px;
    width: 589px;
    padding: 23px 75px 29px 154px;
    font-family: Averta;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
}
.date__box-1 {
    bottom: 210px;
    left:156px;
      
}
.date__box-2 {
    bottom: -18px;
    left: 156px;
}

/* ==================================================
==================================================== */
.programm {
    background-color:#060606;
    padding: 30px 0;
}
.container {
}
.programm__title {
    font-family:Bebas Neue Pro;
    font-style: italic;
    font-weight: 700;
    font-size: 80px;
    line-height: 92px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: -30px;
    margin-bottom: 62px;
}

.programm__body {
    width: 1212px;
    background-image:url(bgprogramm.png);
    background-repeat: no-repeat;
    background-size: 1212px;
    display: flex;
    margin-bottom: 100px;
    
    
}
.programm__number{
    font-family:Bebas Neue Pro;
    font-style: italic;
    font-weight: 700;
    font-size: 150px;
    line-height: 172px;
    text-transform: uppercase;
    color: #DE121E;
    margin-bottom: 300px;
}
.programm__number:nth-child(4){
    margin-bottom: 401px;
    
}
.programm__number:last-child{
    padding-bottom: 100;
    
}
.programm__text {
   display: flex;
   
   position: relative;
}
.programm__text-box {
   font-family:Averta; 
   
}
.box-1{
    position: absolute;
    top: 260px;
    left: 650px;
    max-width: 376px;
}
.box-2{
    position: absolute;
    top: 722px;
    left: -152px;
    max-width: 376px;
}
.box-3{
    position: absolute;
    bottom: 1145px;
    left: 650px;
}
.box-4{
    position: absolute;
    bottom: 665px;
    left: -152px;
}
.box-5{
    position: absolute;
    bottom: 0;
    left: 650px;
    max-width: 376px;
    
}
.programm__text-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 154.1%;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 12px;
    width:450px;
}
.programm__text-stick::before {
    content: "";
    display: block;
    width: 39px;
    height: 4px;
    background-color:#DE121E;
    margin-bottom: 17px;
}
.programm__text-subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 154.1%;
    color: #ffffffe3;
    min-width: 376px;

}
.programm__button{
    text-align: center;
    margin-bottom: 40px;
    transition: all 1s;
}
.programm__button:hover{
    transform: scale(1.1);

}
.programm__btn{
    padding: 20px 65px;
    background: #DE131E;
    border-radius: 10px;
    font-family:Averta; 
    font-weight: 700;
    font-size: 25px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
}
/* ===============================================
=================================================== */
.sportcar {
    background-color: #060606;
    padding-bottom: 80px;
}
.container {
}
.sportcar__had {
}
.sportcar__inner{
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}
.sportcar__title {
    font-family:Bebas Neue Pro;
    font-style: italic;
    font-weight: 700;
    font-size: 80px;
    line-height: 92px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 73px;
}
.sportcar__subtitle {
    font-family:Averta;
    font-weight: 300;
    font-size: 15px;
    line-height: 154.1%;
    color: #ffffffe3;
    
    
}
.sportcar__had-image {
    position: relative;
}
.sportcar__had-img {
    position: relative;
    z-index: 100;
    
}
.sportcar__had-red {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Averta;
    font-weight: 700;
    font-size: 28px;
    line-height: 154.1%;
    color: #FFFFFF;
    background: #DE131E;
    border: 30px solid #060606;
    border-radius: 37px;
    width: 181px;
    height: 173px;
    z-index: 99;
    top: 58px;
    left: 53px;
}
.sportcar__slider {
    position: relative;
}
.sportcar__slider-face{
    width: 100%;
    
}
.sportcar__slider-face img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    
}


.sportcar__slide {
    background-size: contain;
}

.sportcar__slider-nav img {
    width: 296px;
    height: 161px;
}
.sportcar__info-box {
    margin-top: 48px;
    display: flex;
}
.sportcar__info-gt3 {
    font-family:Bebas Neue Pro;
    font-style: italic;
    font-weight: 700;
    font-size: 80px;
    line-height: 92px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 87px;
}
.sportcar__info-gt3 span{
    font-size: 45px;
    line-height: 51px;
}
.sportcar__info-text {
    display: flex;
    margin-bottom: 100px;
}
.sportcar__info-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
}
.sportcar__info-list:last-child {
    
    margin-right: 0px;
}

.sportcar__info-term {
    font-family:Averta;
    font-weight: 600;
    font-size: 15px;
    line-height: 154.1%;
    color: #FFFFFF;
}
.sportcar__info-description {
    font-family:Averta;
    font-weight: 300;
    font-size: 13px;
    line-height: 154.1%;
    color: #ffffffe3;
    
}

.sportcar__button {
    display:block;
    text-align: center;
    margin-bottom:45px;
    transition: all 1s;
}
.sportcar__button:hover {
    transform: scale(1.1);
}
.sportcar__btn {
    padding: 20px 65px;
    background: #DE131E;
    border-radius: 10px;
    font-family:Averta; 
    font-weight: 700;
    font-size: 25px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.sportcar__bottom-text {
    font-family: Averta;
    font-weight: 600;
    font-size: 20px;
    line-height: 154.1%;
    color: #FFFFFF;
    text-align: center;
}
/* =======================================================
====================================================== */
.certificate{
    background-color: #0F0F0F;
    padding: 41px 0 30px 0;
}
.certificate__wrapper{
    display: flex;
}
.certificate__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 724px;
}
.certificate__title {
    font-family:Bebas Neue Pro;
    font-style: italic;
    font-weight: 700;
    font-size: 67px;
    line-height: 92px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 20px;
    
    letter-spacing: -3px;
}
.certificate__subtitle {
    font-family:Averta;
font-weight: 400;
font-size: 15px;
line-height: 154.1%;
color: #FFFFFF;
background: #ffffff17;
border-radius: 5px;
padding: 7px 22px 7px 42px;
background-image: url(present.png);
background-repeat: no-repeat;
background-position: 9% center;
margin-bottom: 80px;
}
.certificate__body {
    display: flex;
    justify-content: space-between;
}
.certificate__body-left{
    display: flex;
    flex-direction: column;
}
.certificate__body-inner {
    font-family:Averta;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.1%;
    color: #FFFFFF;
}
.certificate__body-list{
    background-image:url(check.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 45px;
    margin-bottom: 50px;
}
.certificate__body-list:last-child{
    background-image:url(check.svg);
    background-repeat: no-repeat;
    background-position: left 15%;
    
}
.certificate__body-buttons {
    display: flex;
}
.certificate__button-red {
    padding: 20px 65px;
    background: #DE131E;
    border-radius: 10px;
    font-family:Averta; 
    font-weight: 700;
    font-size: 25px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 52px;
    transition: all 1s;
}
.certificate__button-red:hover {
    transform: scale(1.1);
}
.certificate__button-black {
    padding: 20px 65px;
    background: #0F0F0F;
    border: 2px solid #707070;
    border-radius: 10px;
    font-family:Averta; 
    font-weight: 700;
    font-size: 25px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: all 1s;
}
.certificate__button-black:hover {
    transform: scale(1.1);
}
/* ==================================================
===================================================== */
.video {
    background-color: #0F0F0F;
    padding-bottom: 67px;
}

.video__wrapper {
   
}
.video__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}
.video__head-title {
    font-family:Bebas Neue Pro;
    font-style: italic;
    font-weight: 700;
    font-size: 68px;
    line-height: 92px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 544px;
    letter-spacing: -3px;
}
.video__head-subtitle {
    font-family:Averta;
    font-weight: 300;
    font-size: 18px;
    line-height: 154.1%;
    color: #ffffffe3;
    width: 584px;
    
}
.video__body{
    
    display: flex;
    justify-content: center;
    align-items: center;
   position: relative;

}
.video__body::before{
    content: "";
    top: -44px;
    left: 32px;
    background-image: url(videoline.svg);
    position: absolute;
    width: 294px;
    height: 191px;
    display: block;
    
}
.video__body-link::after{
    content: "";
    top: 50%;
    left: 46%;
    background-image: url(youtube.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 196px;
    height: 89px;
    display: block;
    cursor: pointer;
}
/* ====================================================
====================================================== */
.comment {
    background: #0F0F0F;
    margin-bottom: -158px;
}

.comment__wrapper {
    
}
.comment__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;
}
.comment__title {
    font-family:Bebas Neue Pro;
    font-style: italic;
    font-weight: 700;
    font-size: 80px;
    line-height: 92px;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.comment__subtitle {
    display: flex;
    align-items: center;
    font-family:Averta;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    
    
}

.comment__subtitle-numb{
    font-family:Averta;
    font-weight: 400;
    font-size: 23.7419px;
    line-height: 150%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 12px;
}
.comment__subtitle-star svg {
    margin-right: 11px;
    opacity: 1;
}
.comment__slider-wrapper{
    position: relative;
    
}
.comment__slider{
    
}
.comment__slide {
    padding: 43px 23px 35px 23px;
    max-width: 300px;
    background: #171717;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 66px;
}

.comment__slide-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comment__slide-head {
    display: flex;
    margin-bottom: 32px;
}
.comment__slide-avatar img{
    border-radius: 50%;
    margin-right: 22px;
}
.comment__slide-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.comment__slider-name {
    font-family:Averta;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.comment__slider-from {
    font-family:Averta;
    font-weight: 300;
    font-size: 14px;
    line-height: 179.87%;
    color: #FFFFFF;
    opacity: 0.62;
}
.comment__slider-star {
    margin-left: -7px;
}
.comment__slide-text {
    font-family:Averta;
    font-weight: 400;
    font-size: 15px;
    line-height: 151.9%;
    color: #FFFFFF;
    
}
.comment__slider-arrow{
    opacity: 0.27;
}
.comment__slider-prew{
position: absolute;
top: 39%;
left: -50px;
}
.comment__slider-next{
    position: absolute;
    top: 39%;
    right: -45px;
}

.slick-dotted .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dotted .slick-active button::after {
    border: 5.4px solid #DE131E;
    opacity: 1;
}
.slick-dotted button {
    font-size: 0;
    background-color: transparent;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    margin-right: 19px;
}
.slick-dotted button:last-child {
    
    margin-right:0;
}
.slick-dotted button::after{
    content: '';
    width: 17.6px;
    height: 17.6px;
    background-color: #060606;
    border: 5.4px solid #DADADA;
    border-radius: 3px;
    opacity: 0.15;
}
/* ==================================================
====================================================== */
.accordion {
    background: #060606;
    padding-top: 180px;
    padding-bottom: 122px;
}
.accordion__wrapper {
}
.accordion__inner {
    position: relative;
    
}
.accordion__link{

}
.accordion__link::before{
content: "";
position: absolute;
bottom: 0;
width: 1233px;
height: 0px;
border: 1px solid #ffffff40;
}

.accordion__head {
    font-family:Averta;
    font-weight: 700;
    font-size: 28px;
    line-height: 154.1%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 80px 0 74px 0;
}
.accordion__arrow{
    width: 52px;
    height: 52px;
    background-image: url(accarrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color:#262626;
    border-radius: 50%;
}


.accordion__link--active .accordion__arrow{
    background-image: url(accarrowup.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color:#DE131E;
}
.accordion__text {
    font-family:Averta;
    font-weight: 300;
    font-size: 18px;
    line-height: 154.1%;
    color: #ffffffe3;
    opacity: 0.62;
    padding-bottom:74px;
}
/* ===================================================
========================================================= */
.form {
    background: #060606;
    padding-bottom: 134px;
}
.form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__body-left {
    width: 594px;
}
.form__left-title {
    font-family: Bebas Neue Pro;
    font-style: italic;
    font-weight: 700;
    font-size: 80px;
    line-height: 92px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 9px;
}
.form__left-subtitle {
    font-family:Averta;
    font-weight: 600;
    font-size: 22px;
    line-height: 129.6%;
    color: #90C93A;
    margin-bottom: 28px;
}
.form__left-link {
    display: flex;
    flex-direction: column;
    font-family:Averta;
    font-weight: 700;
    font-size: 28px;
    line-height: 129.6%;
    color: #FFFFFF;
    width: 300px;
}

.form__link-tell{
    margin-bottom: 30px;
    transition: all 1s;
}
.form__link-mail{
transition: all 1s;
}
.form__link-tell:hover{
    color: #DE131E;
}
.form__link-mail:hover{
    color: #DE131E;
}
.form__body-right {
}
.form__right-item {
    
}
.form__right-block {
    font-family:Averta;
    font-weight: 400;
    font-size: 20px;
    line-height: 129.6%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
    
}
.form__right-name {
    height: 29px;
    background-color:#060606;
    border-bottom: 1px solid #ffffff40;
    color: #ffffffe3;
}
.form__right-email {
    height: 29px;
    background-color:#060606;
    border-bottom: 1px solid #ffffff40;
    color: #ffffffe3;
}
.form__right-text {
    height: 82px;
    background-color:#060606;
    border-bottom: 1px solid #ffffff40;
    color: #ffffffe3;
    resize: none;
}
.form__right-blockcheck{
    font-family:Averta;
    font-weight: 400;
    font-size: 20px;
    line-height: 129.6%;
    margin-bottom: 38px;
    color: #FFFFFF;
    position: relative;
    margin-left: 55px;
    
}

.form__right-check {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    
}
.form__right-check:checked +.form__check-custom {
    background-image: url(checkwhite.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.form__check-custom{
    position: absolute;
    width: 34px;
    height: 34px;
    border: 1px solid #ffffff40;
    border-radius: 5px;
    background-color: #060606;
    cursor: pointer;
    top: 0;
    left: -55px;
    
}
.form__right-button {
    padding: 20px 65px;
    background: #DE131E;
    border-radius: 10px;
    font-family: Averta;
    font-weight: 700;
    font-size: 25px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 79px;
    transition: all 1s;
}
.form__right-button:hover {
    transform: scale(1.1);
}
/* =============================================================
=================================================== */
.footer {
    background-color: #060606;
    border-top: 1px solid #FFFFFF;
    padding: 50px 0 50px 0;
}
.footer__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
}
.footer__left {
    font-family:Averta;
    font-weight: 600;
    font-size: 18px;
    line-height: 250.6%;
    color: #FFFFFF;
    margin-right: 471px;
}
.footer__right {
    Font-family:Averta;
    font-weight: 600;
    font-size: 18px;
    line-height: 250.6%;
    color: #FFFFFF;
    position: relative;
    display: flex;
    
}
.footer__right-inst {
    margin-right: 60px;
    transition: all 1s;
}
.footer__right-inst:hover {
    color:#DE131E;
}
.footer__right-inst::before {
    content: "";
    position: absolute;
    top: 19px;
    right: 246px;
    background-image: url(footerarrow.svg);
    width: 10px;
    height: 10px;
}
.footer__right-face {
    margin-right: 60px;
    transition: all 1s;
}
.footer__right-face:hover {
    color:#DE131E;
}
.footer__right-face::before {
    content: "";
    position: absolute;
    top: 19px;
    right: 104px;
    background-image: url(footerarrow.svg);
    width: 10px;
    height: 10px;
}
.footer__right-you {
    transition: all 1s;
}
.footer__right-you:hover {
    color:#DE131E;
}
.footer__right-you::before {
    content: "";
    position: absolute;
    top: 19px;
    right: -19px;
    background-image: url(footerarrow.svg);
    width: 10px;
    height: 10px;
}