
.wrapper{
    min-height:100%;
    width: 100%;
}
.container{
    max-width: 1212px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}
.header {
    background-image: url(headerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Averta;
    font-weight: 400;
    color: #FFFFFF;
    
    
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.header__logo {
    margin-right: 120px;
}
.header__nav {
 
font-size: 15px;
line-height: 21px;
color: #FFFFFF;  
}
.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}
.header__nav-link{
margin-right: 43px;


}
.a::before{
    position: absolute;
    top: -4px;
    left: -16px;
    width: 100px;
    height: 33px;
    content: '';
    opacity: 0;
    border: 2px solid #BA111A;
    border-radius: 10px; 
    transition: all 1s; 
}
.a:hover::before{
    opacity: 1;  
}
.b::before{
    position: absolute;
    top: -5px;
    left: 95px;
    width: 107px;
    height: 35px;
    content: '';
    opacity: 0;
    border: 2px solid #BA111A;
    border-radius: 10px; 
    transition: all 1s; 
}
.b:hover::before{
    opacity: 1;  
}
.c::before{
    position: absolute;
    top: -6px;
    left: 220px;
    width: 121px;
    height: 38px;
    content: '';
    opacity: 0;
    border: 2px solid #BA111A;
    border-radius: 10px; 
    transition: all 1s; 
}
.c:hover::before{
    opacity: 1;  
}
.d::before{
    position: absolute;
    top: -6px;
    left: 353px;
    width: 190px;
    height: 38px;
    content: '';
    opacity: 0;
    border: 2px solid #BA111A;
    border-radius: 10px; 
    transition: all 1s; 
}
.d:hover::before{
    opacity: 1;  
}
.header__icons {
}
.header__icon-inst {
    margin-right: 20px;
    transition: all 1s;
}

.header__icon-inst:hover path {
    fill: #BA111A;
}
.header__icon-face {
    margin-right: 20px;
    transition: all 1s;
}

.header__icon-face:hover path {
    fill: #BA111A;
}
.header__icon-tell {
    
    transition: all 1s;
}

.header__icon-tell:hover path {
    fill: #FFFFFF;
}

.header__lang {
    display: flex;
    justify-content: space-between;
}
.header__lang-ru {
    text-transform: uppercase;
    margin-right: 4px;
}

.header__lang-icon {
    padding-top: 3px;
}
.header__lang-link {
}
.header__body {
}
.header__body-inner {
    display: flex;
    margin-top: 300px;
    justify-content: space-between;
    align-items: flex-end;
}.header__body-bigtext{
    font-family: Bebas Neue Pro;
    font-weight: 700;
    font-size: 80px;
    line-height: 114px;
    color: #DE131E;
}
.bigtext__white{
    color: #FFFFFF;
}
.header__body-text {
}
.header__body-sticks {
    margin-bottom: 27px;
}
.header__body-smalltext {
    max-width: 360px;
    margin-bottom: 27px;
}
.header__body-button {
    margin-bottom: 27px;
}
.header__body-btn {
    padding: 20px 65px;
    background: #DE131E;
    border-radius: 10px;
    transition: all 1s;
}
.header__body-btn:hover {
    background: #8a2b30;
    
}
.header__body-scroll{
    margin-top: 19px;
    text-align: center;
    padding-bottom: 84px;
}